.navbar{
	background-color: #85C1E9;
}
.quem-somos{
	background-color: #D6EAF8;
}
.margin{
	padding-top: 10px;
	padding-bottom: 10px;
}
.parceiros{
	background-color: #A3E4D7;
}
.servicos{
	background-color: #F7DC6F;
}
.floter{
	background-color: black;
	color: white;
	padding: 5px;
	padding-bottom: 20px;
}
.fon{
	font-family: Diablo;
}